<header class="header">
    <nav class="navbar">
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img class="logo" src="assets/images/logo.jpg" alt="Logo">
        </a>
        <ul class="menu">
            <li><a class="link" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">À propos</a></li>
            <li><a class="link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
        </ul>
    </nav>
</header>
