<footer class="footer">
    
    <!-- Lien GitHub -->
    <a href="https://github.com/" target="_blank">
        <img
          class="footer_img"
          src="./assets/images/github.png"
          alt="Logo de GitHub"
        />
      </a>

      <!-- Lien LinkedIn -->
      <a href="https://fr.linkedin.com/" target="_blank">
        <img
          class="footer_img"
          src="./assets/images/linkedin.png"
          alt="Logo de LinkedIn"
        />
      </a>

      <!-- Lien Instagram -->
      <a href="https://www.instagram.com/" target="_blank">
        <img
          class="footer_img"
          src="./assets/images/instagram.png"
          alt="Logo d'Instagram"
        />
      </a>
</footer>
