<footer>

    <!-- Lien Facebook -->
    <a href="https://www.facebook.com/?locale=fr_FR" target="_blank">
      <img
        class="footer_img"
        src="./assets/images/facebook.png"
        alt="Logo de Facebook"
      />
    </a>
    
    <!-- Lien X -->
    <a href="https://twitter.com/?lang=fr" target="_blank">
        <img
          class="footer_img"
          src="./assets/images/twitter.png"
          alt="Logo de X"
        />
      </a>

      <!-- Lien Instagram -->
      <a href="https://www.instagram.com/" target="_blank">
        <img
          class="footer_img"
          src="./assets/images/instagram.png"
          alt="Logo d'Instagram"
        />
      </a>
</footer>
