<div class="contact-section">
    <h1>Formulaire de contact</h1>

    <!-- Formulaire -->
    <section *ngIf="!messageSent">
        <form class="form" (ngSubmit)="submitForm()" #contactForm="ngForm">
            <input type="text" name="name" id="name" placeholder="Nom Prénom" required [(ngModel)]="formData.name" #name="ngModel"/>
            <input type="email" name="email" id="email" placeholder="Email" required [(ngModel)]="formData.email" #email="ngModel"/>
            <input type="tel" name="tel" id="tel" placeholder="Numéro de téléphone" required [(ngModel)]="formData.tel" #tel="ngModel"/>
            <input type="text" name="object" id="object" placeholder="Sujet" required [(ngModel)]="formData.object" #object="ngModel"/>
            <textarea name="msg" id="msg" cols="40" rows="4" placeholder="Message" required [(ngModel)]="formData.msg" #msg="ngModel"></textarea>
            <button>Envoyer</button>
        </form>
    </section>

    <!-- Message de succès -->
    <div *ngIf="messageSent">
        <p>Message envoyé avec succès</p>
    </div>
</div>
