<div class="home-section">
    <p class="presentation">Bienvenue chez "Au petit village",
    une entreprise dédiée à la confection artisanale de figurines
    inspirées de la célèbre bande dessinée "Astérix et Obélix"
    </p>
    <h1>Catalogue des figurines</h1>

    <!-- Filtres -->
    <section class="pipes">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Recherche par nom ...">
        <button (click)="sortProducts('asc')">Tri par prix croissant</button>
        <button (click)="sortProducts('desc')">Tri par prix décroissant</button>
    </section>

    <!-- Catalogue produits -->
    <ul class="products">
        <li class="items" *ngFor="let product of products | filterByName:searchTerm | sortByPrice:sortOrder">
            <h2>{{ product.name }}</h2>
            <p>Prix : <strong>{{ product.price }} €</strong></p>
            <button (click)="goToProduct(product.id)">En savoir plus</button>
        </li>
    </ul> 
</div>
